<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide" style="width: 100%; margin: 0 auto"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <% if @project.image.present? %>
      <div class="item active"><!-- class of active since it's the first item -->
        <%= image_tag @project.image.url %>
        <div class="carousel-caption">
          <p><%= @project.caption %></p>
        </div>
      </div>
      <% if @project.image2.present? %>
        <div class="item">
          <%= image_tag @project.image2.url %>
          <div class="carousel-caption">
            <p><%= @project.caption2 %></p>
          </div>
        </div>
        <% if @project.image3.present? %>
          <div class="item">
            <%= image_tag @project.image3.url %>
            <div class="carousel-caption">
              <p><%= @project.caption3 %></p>
            </div>
          </div>
          <% if @project.image4.present? %>
            <div class="item">
              <%= image_tag @project.image4.url %>
              <div class="carousel-caption">
                <p><%= @project.caption4 %></p>
              </div>
            </div>
            <% if @project.image5.present? %>
              <div class="item">
                <%= image_tag @project.image5.url %>
                <div class="carousel-caption">
                  <p><%= @project.caption5 %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>
