<%= form_for @project, html: { multipart: true } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Project Name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url, "Project URL" %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :github, "GitHub" %><br>
    <%= f.text_field :github, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Add image" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption, "Add caption" %><br>
    <%= f.text_area :caption, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image2, "Add image" %>
    <%= f.file_field :image2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption2, "Add caption" %><br>
    <%= f.text_area :caption2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image3, "Add image" %>
    <%= f.file_field :image3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption3, "Add caption" %><br>
    <%= f.text_area :caption3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image4, "Add image" %>
    <%= f.file_field :image4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption4, "Add caption" %><br>
    <%= f.text_area :caption4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image5, "Add image" %>
    <%= f.file_field :image5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption5, "Add caption" %><br>
    <%= f.text_area :caption5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
