<%= form_for @project, html: { multipart: true } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Project Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :url, "Project URL" %><br>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :github, "GitHub" %><br>
    <%= f.text_field :github %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
