<%= form_for @project, html: { multipart: true } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h2>Add Project Details</h2>
    </div>

    <ul class="list-group">

      <li class="list-group-item"><div class="form-group">
        <%= f.label :name, "Name:" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div></li>

      <li class="list-group-item"><div class="form-group">
        <%= f.label :description, "Description:" %>
        <%= f.text_area :description, class: "form-control" %>
      </div></li>

      <li class="list-group-item"><div class="form-group">
        <%= f.label :url, "URL:" %><br>
        <%= f.text_field :url, class: "form-control" %>
        <span class="help-block">Format: https://example.com</span>
      </div></li>
      
      <li class="list-group-item"><div class="field">
        <%= f.label :github, "GitHub:" %><br>
        <%= f.text_field :github, class: "form-control" %>
        <span class="help-block">Format: https://github.com/user/repository</span>
      </div></li>
    </ul>
  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h2>Add Up To Five Optional Images And Captions</h2>
    </div>

    <ul class="list-group">



      <li class="list-group-item">
        <%= f.label :image, "1." %>
        <div class="form-group">
          <%= f.file_field :image, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :caption, class: "form-control" %>
        </div>
      </li>

      <li class="list-group-item">
        <%= f.label :image2, "2." %>
        <div class="form-group">
          <%= f.file_field :image2, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :caption2, class: "form-control" %>
        </div>
      </li>

      <li class="list-group-item">
        <%= f.label :image3, "3." %>

        <div class="form-group">
          <%= f.file_field :image3, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :caption3, class: "form-control" %>
        </div>
      </li>

      <li class="list-group-item">
        <%= f.label :image4, "4." %>

        <div class="form-group">
          <%= f.file_field :image4, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_area :caption4, class: "form-control" %>
        </div>
      </li>

      <li class="list-group-item">
      <%= f.label :image5, "5." %>

      <div class="form-group">
        <%= f.file_field :image5, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_area :caption5, class: "form-control" %>
      </div></li>

    </ul>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>

